@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 25% 96%;
    --foreground: 206 33% 23%;
    --card: 0 0% 100%;
    --card-foreground: 206 33% 23%;
    --popover: 0 0% 100%;
    --popover-foreground: 206 33% 23%;
    --primary: 18 99% 63%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 10% 90%;
    --secondary-foreground: 206 33% 23%;
    --muted: 48 10% 90%;
    --muted-foreground: 206 33% 45%;
    --accent: 48 10% 92%;
    --accent-foreground: 18 99% 63%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 48 10% 88%;
    --input: 48 10% 88%;
    --ring: 18 99% 63%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 206 33% 15%;
    --foreground: 48 25% 96%;
    --card: 206 33% 18%;
    --card-foreground: 48 25% 96%;
    --popover: 206 33% 15%;
    --popover-foreground: 48 25% 96%;
    --primary: 18 99% 63%;
    --primary-foreground: 206 33% 10%;
    --secondary: 206 33% 25%;
    --secondary-foreground: 48 25% 96%;
    --muted: 206 33% 25%;
    --muted-foreground: 48 25% 80%;
    --accent: 206 33% 25%;
    --accent-foreground: 18 99% 63%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 33% 25%;
    --input: 206 33% 25%;
    --ring: 18 99% 63%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
